
<h1> New Recipe <h1>

<form method="POST" action="/recipes">
<input type="text" name="name" placeholder="Enter name here">
<input type="text" name="ingredients" placeholder="Enter ingredients here">
<input type="text" name="cook_time" placeholder="Enter cook time here">
<input type="submit" value="Submit">
</form>
